.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.input {
  width: 20%;
  padding: 0 40px;
  color: rgba(255, 255, 255, 0.87) !important;
}
.button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
